<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <!-- Icon - IconMonster -->
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
    <!-- Mumble UI -->
    <link rel="stylesheet" href="uikit.css" />
    <!-- Dev Search UI -->
    <link rel="stylesheet" href="app.css" />

    <title>Adeyemo Ridwan - Resume.</title>

</head>

<body>
    <main class="profile my-md">
        <div class="container">
            <div class="layout">
                <div class="column column--1of3">
                    <div class="card text-center">
                        <div class="card__body dev">
                            <img class="avatar avatar--xl" src="images/me.jpg" />
                            <h2 class="dev__name">Adeyemo Ridwan</h2>
                            <p class="dev__title">{{profile.short_intro}}</p>
                            <p class="dev__location">{{profile.email}}</p>
                            <p class="dev__location">Based in {{profile.location}}</p>
                            <ul class="dev__social">
                                <li>
                                    <a title="Github" href="https://github.com/rhedwan/" target="_blank"><i
                                            class="im im-github"></i></a>
                                </li>
                                <li>
                                    <a title="LinkedIn" href="https://www.linkedin.com/in/ridwan-adeyemo-a12032200/" target="_blank"><i
                                            class="im im-linkedin"></i></a>
                                </li>
                            </ul>
                            
                            <a href="{% url 'create-message' %}" class="btn btn--sub btn--lg">Send Message </a>
          
                        </div>
                    </div>
                </div>
                <div class="column column--2of3">
                    <div class="devInfo">
                        <h3 class="devInfo__title">About Me</h3>
                        <p class="devInfo__about">{{profile.bio}}</p>
                    </div>
                    <div class="devInfo">
                        <h3 class="devInfo__title">Skills</h3>
                        <div class="devInfo__skills">
                            <div class="devSkill">
                                <h4 class="devSkill__title">Python</h4>
                                <p class="devSkill__info">I write readable and resueable program with Python. I develop website with Django a powerful Python web framework</p>
                            </div>
                            <div class="devSkill">
                                <h4 class="devSkill__title">JavaScript</h4>
                                <p class="devSkill__info">
                                    I use JavaScript is used to  develop the Front-End of a website.
                                </p>
                            </div>
                            <h3 class="devInfo__subtitle">Other Skills</h3>
                            <div class="devInfo__otherSkills">
                                {% for skill in profile.otherSkills %}
                                <span class="tag tag--pill tag--sub tag--lg">
                                    <small>{{skill}}</small>
                                </span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="devInfo">
                        <h3 class="devInfo__title">Education</h3>
                        <div class="grid grid--two">
                            <div class="column">
                                <div class="card project">
                                    <a href="" class="project">
                                        <img class="project__thumbnail" src="{% static 'images/download.jpg' %}"
                                            alt="project thumbnail" />
                                        <div class="card__body">
                                            <h3 class="project__title">Lagos University</h3>
                                            <p><a class="project__author"
                                                    href="">In
                                                    Lagos, Nigerias</a>
                                            </p>
                                            <p class="project--rating">
                                                <span style="font-weight: bold;"> 2016</span> -2021
                                                
                                            </p>
                                            <div class="project__tags">
    
                                                
                                                <span class="tag tag--pill tag--main">
                                                    <small></small>Science</small>
                                                </span>
    
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
    
    
                        </div>
                    </div>
                    <div class="devInfo">
                        <h3 class="devInfo__title">Project / Experiemce</h3>
                        <div class="grid grid--two">
                            <div class="column">
                                <div class="card project">
                                    <a href="http://devsearchrhed.herokuapp.com/" class="project">
                                        <img class="project__thumbnail" src="{% static 'images/dev.png' %}"
                                            alt="project thumbnail" />
                                        <div class="card__body">
                                            <h3 class="project__title">DevSearch</h3>
                                            <p><a class="project__author"
                                                    href="">Adeyemo Ridwan</a>
                                            </p>
                                            <p class="project--rating">
                                                <span style="font-weight: bold;">20 </span>Upvotes    
                                            </p>
                                            <div class="project__tags">
                                                <span class="tag tag--pill tag--main">
                                                    <small>Django</small>
                                                </span>
                                                <span class="tag tag--pill tag--main">
                                                    <small>Django Rest Framework</small>
                                                </span>
                                                <span class="tag tag--pill tag--main">
                                                    <small>ProsGres</small>
                                                </span>
                                                <span class="tag tag--pill tag--main">
                                                    <small>AWS</small>
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card project">
                                    <a href="https://internship.zuri.team/" class="project">
                                        <img class="project__thumbnail" src="{% static 'images/hnglogo.jpg'  %}"
                                            alt="project thumbnail" />
                                        <div class="card__body">
                                            <h3 class="project__title">HNG/ I4G</h3>
                                            <p><a class="project__author"
                                                    href="">Organized By HNG and Zuri</a>
                                            </p>
                                            <p class="project--rating">
                                                <span style="font-weight: bold;">0 </span>Upvotes    
                                            </p>
                                            <div class="project__tags">
                                                <span class="tag tag--pill tag--main">
                                                    <small>Interships</small>
                                                </span>
                                                <span class="tag tag--pill tag--main">
                                                    <small>Training</small>
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<!-- <script src="{% static 'uikit/app.js' %}"></script> -->
<!-- <script src="{% static 'js/main.js' %}"></script> -->

</html>